main{
  background-color: rgb(54, 54, 54);
}

main h1{
  color: #3490dc;
}

main .table tbody, main .table thead{
  border-top: 3px solid #3490dc;
  color: white;
}

main .table{
  margin-bottom: 0px;
}